*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.jogo{
    width: 100%;
    height: 100%;
    max-height:1080px;
    padding: 20% 4% 0 4%;
    background-color: black;
}

.player-esquerdo{
    width: 10px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    float: left;
    position: relative;
    animation-name: esquerdo;
    animation-iteration-count: infinite;
    animation-duration: 15s;

}


.player-direito{
    width: 10px;
    height: 80px;
    background-color: white;
    border-radius: 3px;
    float: right;
    animation-name: direito;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    position: relative;
}




.bola{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    animation-name: bola;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    position: relative;
    left: 8px;
    top:50px;


}


.branco{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: yellow;
    animation-name: branco;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    top:0;
}

@keyframes esquerdo{

    0%{ top: 0;}
    10% {top: -260px;}  
    20%{top: 280px;}
    30%{top: -50px;}
    40%{ top: 0;}
    50% {top: -260px;}  
    60%{top: 280px;}
    70%{top: 20px;}
    80% {top: -260px;}  
    90%{top: 280px;}
    100%{top: 0;}

}    

@keyframes direito{

    0%{ top: 0;}
    10% {top: 260px;}  
    20%{top: -260px;}
    30%{top: 50px;}
    40%{ top: 0;}
    50% {top: 280px;}  
    60%{top: -260px;}
    70%{top: -20px;}
    80% {top: 280px;}  
    90%{top: -260px;}
    100%{top: 0;}

} 


@keyframes bola {

    0%{
        left: 8px;
        top:50px;
    }

    10%{
        left:98.2%  ;
        top:300px;
        
    }

    20%{
        left: 8px;
        top:285px;
    }

    30%{
        left:98.2%  ;
        top:80px;
   
    }

    40%{
        left: 8px;
        top:50px;
    }

    50%{
        left:98.2%  ;
        top:300px;
    }

    60%{
        left: 8px;
        top:300px;
    }

    70%{
        left:98.2%  ;
        top:-20px;

    }

    80%{
        left: 8px;
        top:-240px;
    }

    90%{
        left: 98.2%;
        top:-210px;
    }

    100%{
        left: 8px;
        top:50px;

    }

}    


@keyframes branco {

   0%{
        background-color:white ;
       
        z-index: 1;
   }

   10%{
        background-color:yellow ;
        border: 15px double yellow;
        border-radius: 15px;
        z-index: 1;
   }

   20%{
        background-color:white ;
        z-index: 1;
   }

   30%{
         background-color:white ;
         z-index: 1;
   }

   40%{
        background-color:white ;
        z-index: 1;
   }

   50%{
        background-color:white ;
        z-index: 1;
   }

   60%{
        background-color:white ;
        z-index: 1;
   }

   70%{
        background-color:white ;
        z-index: 1;
   }

   80%{
        background-color:white ;
        z-index: 1;

    }

    90%{
        background-color:white ;
        z-index: 1;
    }

    100%{
        background-color:white ;
        z-index: 1;
}

}    